$primary: #0f8dba;
$secondary: #1f5168;
$tairtiary: #002339;
$grey: #bfbdc2;
$black: #000;
$white: #fff;
$bg_grey: #f5f5f5;
$p-color: #6c7a89;

/* font colors */
$fontColor1: #444649;

$add: #3dfaff;
$blue: #3498db;
