@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;400;600;900&family=Six+Caps&display=swap');

$ff1: 'Muli', sans-serif;
$ff2: 'Six Caps', sans-serif;

/* font size */
$h1: 3.2rem;
$h2: 2.4rem;
$h3: 1.5rem; /* 2.1 */
$p: 1rem; /* 1.3 */
